@import url('https://fonts.googleapis.com/css2?family=Inter:wght=300;400;500;600&family=Playfair+Display:ital,wght=0,400;0,600;0,700;1,400&display=swap');

/* Tailwind ana paketleri */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDFBF7;
    --foreground: #4A2E1B;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, .font-kuncu-serif {
    font-family: 'Playfair Display', serif;
  }
}

@layer utilities {
  /* Yumuşak kaydırma çubuğu tasarımı */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #FDFBF7;
  }
  ::-webkit-scrollbar-thumb {
    background: #D4A373;
    border-radius: 10px;
  }
}

/* Ürünlerin aşağıdan yukarı süzülerek gelme animasyonu */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}